<html>
    <head>
        <title>API : Lottory</title>
    </head>
    <body>
        <div style="text-align: center;">
            <h1>Welcome to Rest-api</h1><br>
            <h2>Develop by. Marvis</h2>
        </div>
    </body>
</html>